<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAajH3mwNvDTmSx_EuXMxvfYMrHtGzlU08</string>
	<key>GCM_SENDER_ID</key>
	<string>789037388517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryan.Haul-Transport</string>
	<key>PROJECT_ID</key>
	<string>haul-transport</string>
	<key>STORAGE_BUCKET</key>
	<string>haul-transport.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789037388517:ios:e881a02d59be20de2dba0c</string>
</dict>
</plist>